html, body{
  height: 100%;
}

.main-container {
  margin-top: 10%;
  text-align: center;
  color: white;
}

.first-question {
  margin-top: 4%;
}
.time-selector {
  margin-top: 16%;
}

.timers-container {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  align-items: flex-end;
  width: 32%;
  margin-left: 34%;
}

.sqr {
  width: 100px;
  height: 100px;
  margin: 10px;
  border: 1px solid whitesmoke;
  background: #f5f5f54d;
  border-radius: 4px;
  cursor: pointer;
}

.sqr > p {
  padding-top: 42%
}
