html, body{
  height: 100%;
}

.main-container {
  margin-top: 7%;
  text-align: center;
  color: white;
}

.first-question {
  margin-top: 4%;
}

.bg-transparent{
  background-color: #f8f8f800;
  border-color: #f8f8f800;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav>li>a:hover {
  color: lightgray;
}

.pointer {
  cursor: pointer;
}