.detail-grid {
  display: grid;
  grid-template-rows: 50px auto auto;
  grid-gap: 20px 80px;
  align-content: center;
}

.detail-grid img {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 1;
  justify-self: center;
  width: 50%;
  border-radius: 4px;
}

.detail-grid .info {
  grid-row-start: 3;
  grid-row-end: 3;
}
.detail-grid .links {
  display: inline-flex;
  margin-top: 5%;
}
.detail-grid .info .title {
  margin-bottom: 8%;
}
.detail-grid .info .title h1 {
  margin: 0;
}

.detail-grid .info h4 {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}
.detail-grid .info h4:first-child {
  margin-bottom: 8%;
}

.detail-grid .links  a {
  flex:1 1 auto;
  margin: 0 5px 0;
}
.detail-grid .links  a:last-child {
  margin-top: 15px;
  font-size: 20px;
}

.detail-grid .overview {
  font-size: 15px;
  margin-top: 15%;
}

.detail-grid .back-to-top {
  grid-row-end: 6;
  grid-column-end: 2;
  justify-self: right;
}

.imdb-logo {
  width: 80px !important;
}
.recommended-grid {
  display: none;
}

/* Media queries */

/* Extra Small Devices, Phones */
@media screen and (min-width : 480px) {
  .detail-grid .info {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
  }
}

/* Small Devices, Tablets */
@media screen and (min-width : 768px) {
  .detail-grid .info {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    text-align: left;
  }
  .detail-grid .info .title {
    margin-bottom: 7%;
  }
  .detail-grid .info .title h1 {
    margin: 0;
  }

  .detail-grid .info h4 {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .detail-grid .info h4:first-child {
    margin-bottom: 5%;
  }

  .detail-grid .poster {
    width: 100%;
  }
}

/* Medium Devices, Desktops */
@media screen and (min-width : 992px) {
  .detail-grid {
    grid-template-columns: 40% 60%;
    grid-template-rows: 50px auto auto;
  }
  .recommended-grid {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 40px auto 40px;
    grid-template-rows: 30% auto;
    margin-top: 10%;
    margin-bottom: 20%;
    grid-gap: 10px;
  }
  .recommended-grid .title {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: span 3;
  }
  .recommended-grid .next-movies {
    grid-row: 2;
    grid-column: 3;
    margin-top: 40%;
  }
  .recommended-grid .prev-movies {
    grid-row: 2;
    grid-column: 1;
    margin-top: 45%;
  }

  .recommended-shows-container {
    grid-column-start: 2;
    display: inline-flex;
    overflow: hidden;
  }

  .recommended-shows-container div {
    flex: 0 1 146px;
    padding: 5px;
  }

  .recommended-shows-container .film {
    width: 100%;
  }
  .recommended-shows-container .info {
    font-size: 12px;
  }

  .recommended-shows-container img {
    width: 100%;
  }
}
