.detail-grid {
  display: grid;
  grid-template-columns: 40% auto;
  grid-template-rows: 50px auto;
  grid-gap: 20px 80px;
}

.detail-grid img {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 1;
  width: 100%;
}

.detail-grid .info {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}

.detail-grid .overview {
  font-size: 17px;
  margin-top: 15%;
}
