.film-container {
  display: grid;
  justify-items: center;
  margin-top: 10%;
}

/* Extra Small Devices, Phones */
@media screen and (min-width : 480px) {
  .film-container {
    grid-template-columns: 1fr 1fr;
  }
}

/* Small Devices, Tablets */
@media screen and (min-width : 768px) {
  .film-container {
    grid-template-columns: 1fr 1fr 1fr;
 }
}

/* Medium Devices, Desktops */
@media screen and (min-width : 992px) {
  .film-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
 }
}

.film {
  position: relative;
  height: 250px;
  width: 190px;
  border-radius: 4px;
}

.film img {
  width: 100%;
  height: 90%;
}

.film .info {
  position: absolute;
  width: 100%;
  height: 90%;
  padding: 4%;
  font-weight: bold;
  font-size: 16px;
  transition: all .2s ease-out;
  /* Hide the text until hover */
  color: transparent;
}

.film .info:hover {
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: all .2s ease-in;
  color: white;
 }

.film .vote {
  text-align: right;
  width: 100%;
}

.film .title {
  margin-top: 45%;
  text-align: left;
  width: 100%;
}