.results-container {
  display: grid;
  grid-template-columns: 40px auto 40px;
}

.film-container {
  display: grid;
  justify-items: center;
  margin-top: 10%;
  grid-column-start: 2;
  grid-column-end: 2;
}

.prev-movies {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 1;
  font-size: 45px;
  height: 60px;
}

.next-movies {
  grid-row-start: 1;
  grid-column-start: 3;
  grid-column-end: 3;
  font-size: 45px;
  height: 60px;
}

.results-container .back-to-top {
  grid-row-start: 3;
  grid-column-start: 3;
  grid-column-end: 3;
  font-size: 45px;
  height: 60px;
}

.prev-movies:hover,
.next-movies:hover {
  color: grey;
}

.loader {
  margin-top: 70%;
  margin-left: auto;
  margin-right: auto;
}

.film {
  position: relative;
  height: 250px;
  width: 190px;
  border-radius: 4px;
}

.film img {
  width: 100%;
  height: 90%;
  border-radius: 4px;
}

.film .info {
  position: absolute;
  width: 100%;
  height: 90%;
  padding: 4%;
  font-weight: bold;
  font-size: 16px;
  transition: all .2s ease-out;
  /* Hide the text until hover */
  color: transparent;
  border-radius: 4px;
}

.film .info:hover {
  background: rgba(0, 0, 0, 0.7);
  transition: all .2s ease-in;
  color: white;
 }

.film .vote {
  text-align: right;
}

.film .title {
  margin-top: 45%;
  text-align: left;
}

.film .more {
  text-align: right;
  margin-top: 20%;
  width: 100%;
}

.film .more:hover {
  cursor: pointer;
  text-decoration: underline;
}


/* Media queries */

/* Extra Small Devices, Phones */
@media screen and (min-width : 480px) {
  .film-container {
    grid-template-columns: 1fr 1fr;
  }
  .loader {
    margin-top: 50%;
  }

}

/* Small Devices, Tablets */
@media screen and (min-width : 768px) {
  .film-container {
    grid-template-columns: 1fr 1fr 1fr;
 }
  .loader {
    margin-top: 40%;
  }
  .back-to-top {
    display: none;
  }
}

/* Medium Devices, Desktops */
@media screen and (min-width : 992px) {
  .film-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
 }
  .loader {
    margin-top: 25%;
  }
  .back-to-top {
    display: none;
  }
}

.film-container-enter {
  opacity: 0.01;
}

.film-container-enter.film-container-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.film-container-leave {
  display: none;
  opacity: 1;
}

.film-container-leave.film-container-leave-active {
  display: none;
  opacity: 1;
}