.selector-container {
  display: grid;
  margin-top: 12%;
}

.selector-container .first-question  h1 {
  font-size: 38px;
  font-weight: 800;
}
.out {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  display: none !important;
}


.selector-container .second-question {
  margin-top: 4%;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.selector-container .second-question.show {
  opacity: 1;
  visibility: visible;
}

.selector-container .second-question.show h3 {
  opacity: 0.6;
  font-style: italic;
  color: #FFFFFF;
}

.type-select,
.type-select:active,
.type-select:focus{
  background: transparent;
  border: 0;
  border-bottom: 1px solid lightcoral;
  outline: none;
  cursor: pointer;
  color: lightcoral;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  -moz-appearance: none;
  appearance: none;
  margin: 0 10px;
}

.select-type-option {
  color: lightcoral;
  font-size: 22px;
}

/* Media queries */

/* Extra Small Devices, Phones */
@media screen and (min-width : 480px) {
  .selector-container .third-question {
    height: 100%;
  }
}

/* Small Devices, Tablets */
@media screen and (min-width : 768px) {
  .selector-container .third-question {
    height: 100%;
  }
}

/* Medium Devices, Desktops */
@media screen and (min-width : 992px) {
  .selector-container .third-question {
    height: 100%;
  }
}
