.selector-container {
  display: grid;
  margin-top: 12%;
}

.selector-container .first-question  h1 {
  font-size: 38px;
  font-weight: 800;
}
.out {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  display: none !important;
}


.selector-container .second-question {
  margin-top: 4%;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.selector-container .second-question.show {
  opacity: 1;
  visibility: visible;
}

.selector-container .second-question.show h3 {
  opacity: 0.6;
  font-style: italic;
  color: #FFFFFF;
}

.selector-container .third-question {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.selector-container .third-question.show {
  margin-top: 18%;
  opacity: 1;
  visibility: visible;
  justify-self: center;
}

.selector-container .third-question.show h3 {
  font-size: 32px;
}

.selector-container .third-question.show h3 > b {
  color: lightcoral;
}

.selector-container .third-question.show .genres-selector {
  width: 80%;
  margin: 6% 10%;
}

.type-select,
.type-select:active,
.type-select:focus{
  background: transparent;
  border: 0;
  border-bottom: 1px solid lightcoral;
  outline: none;
  cursor: pointer;
  color: lightcoral;
  -webkit-appearance: none;
  margin: 0 10px;
}

.type-select options {
  background: transparent;
}
