.selector-container {
  display: grid;
  margin-top: 6%;
}

.selector-container .first-question  h1 {
  font-size: 38px;
  font-weight: 800;
}
.out {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  display: none !important;
}


.selector-container .second-question {
  margin-top: 12%;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.selector-container .second-question.show {
  opacity: 1;
  visibility: visible;
}

.selector-container .first-question h3,
.selector-container .second-question.show h3 {
  opacity: 0.6;
  color: #FFFFFF;
  font-weight: bold;
}
.type-container {
  margin-top: 2%;
}
.type-select {
  display: inline-flex;
  width: 200px;
  height: 80px;
  margin: 10px;
  background-color: rgba(249,54,97,0.2);
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  border: 0;
  padding-top: 6%;
}

.type-select > p {
  font-size: 18px;
  font-weight: 800;
  width: 100%;
  text-align: center;
  color: white;
}

.type-select:hover,
.type-select.selected {
  background-color: rgba(249,54,97,0.4);
}


.select-type-option {
  color: lightcoral;
  font-size: 22px;
}

/* Media queries */

/* Extra Small Devices, Phones */
@media screen and (min-width : 480px) {
  .selector-container .third-question {
    height: 100%;
  }
}

/* Small Devices, Tablets */
@media screen and (min-width : 768px) {
  .selector-container .third-question {
    height: 100%;
  }
  .type-select {
    padding-top: 1%;
  }

}

/* Medium Devices, Desktops */
@media screen and (min-width : 992px) {
  .selector-container .third-question {
    height: 100%;
  }
}
